.shadow {
    width: 50%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px / 25px;
    margin: auto;
    margin-bottom: 0;
    animation: shadow 1.5s infinite ease-in-out;
    -webkit-animation: shadow 1.5s infinite ease-in-out;
    -moz-animation: shadow 1.5s infinite ease-in-out;
}
.drawerImg {
    position: absolute;
    top: -60%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.drawerText {
    margin-bottom: 20px;
    margin-top: auto;
}
.drawerButton {
    margin-bottom: 0px;
}
.imgMove {
    animation: move 1.5s infinite ease-in-out;
    -webkit-animation: move 1.5s infinite ease-in-out;
    -moz-animation: move 1.5s infinite ease-in-out;
    width: 280px;
    height: 280px;
    margin: auto;
}
.imgHidden{
    opacity: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move {
    0% {
        margin-top: -5%;
    }
    50% {
        margin-top: -20%;
    }
    100% {
        margin-top: -5%;
    }
}

/* Safari 4.0 - 8.0 */
@-moz-keyframes move {
    0% {
        margin-top: -5%;
    }
    50% {
        margin-top: -20%;
    }
    100% {
        margin-top: -5%;
    }
}

/* Standard syntax */
@keyframes move {
    0% {
        margin-top: -5%;
    }
    50% {
        margin-top: -20%;
    }
    100% {
        margin-top: -5%;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow {
    0% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 40%;
    }
    10% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 41%;
    }
    20% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 43%;
    }
    35% {
        background-color: rgba(0, 0, 0, 0.25);
        width: 47%;
    }
    50% {
        background-color: rgba(0, 0, 0, 0.2);
        width: 50%;
    }
    65% {
        background-color: rgba(0, 0, 0, 0.2);
        width: 50%;
    }
    80% {
        background-color: rgba(0, 0, 0, 0.25);
        width: 48%;
    }
    90% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 43%;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 40%;
    }
}

/* Safari 4.0 - 8.0 */
@-moz-keyframes shadow {
    0% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 40%;
    }
    10% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 41%;
    }
    20% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 43%;
    }
    35% {
        background-color: rgba(0, 0, 0, 0.25);
        width: 47%;
    }
    50% {
        background-color: rgba(0, 0, 0, 0.2);
        width: 50%;
    }
    65% {
        background-color: rgba(0, 0, 0, 0.2);
        width: 50%;
    }
    80% {
        background-color: rgba(0, 0, 0, 0.25);
        width: 48%;
    }
    90% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 43%;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 40%;
    }
}

/* Standard syntax */
@keyframes shadow {
    0% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 40%;
    }
    10% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 41%;
    }
    20% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 43%;
    }
    35% {
        background-color: rgba(0, 0, 0, 0.25);
        width: 47%;
    }
    50% {
        background-color: rgba(0, 0, 0, 0.2);
        width: 50%;
    }
    65% {
        background-color: rgba(0, 0, 0, 0.2);
        width: 50%;
    }
    80% {
        background-color: rgba(0, 0, 0, 0.25);
        width: 48%;
    }
    90% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 43%;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
        width: 40%;
    }
}
